<div style="text-align: center">
  <h1>
    Routing and Navigation
  </h1>

</div>
<nav>
  <a routerLink = "/departments" routerLinkActive="active">Departments</a>
  <a routerLink = "/employees" routerLinkActive="active">Employees</a>
</nav>
<router-outlet></router-outlet>
